.card {
    background: var(--color-background-header);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--spacing-4);
    border-radius: var(--radius-0);
    padding: var(--spacing-3);
    color: var(--color-text-body-secondary);
}

.card:hover {
    box-shadow: var(--box-shadow-hover);
}

@media only screen and (max-width: 425px) {
    .card {
        margin-bottom: var(--spacing-2);
    }
}